[package]
name = "av"
version = "0.1.0"
authors = ["Luca Barbato <lu_zero@gentoo.org>"]

[features]
nightly = []

[dependencies]
bitflags = "0.5.0"
interpolate_idents = "0.1.7"
num  = "0.1.35"
error-chain = "0.6.0"
bytes = "0.4.4"

[dev-dependencies]
assert_matches = "1.1"
